<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.fridaye_com">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET*" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FRIDAYECOM">
        <activity android:name=".ViewAllActivity"></activity>
        <activity android:name=".MyAddressesActivity" />
        <activity android:name=".AddAddressActivity" />
        <activity android:name=".addressActivity" />
        <activity android:name=".DeliveryActivity" />
        <activity android:name=".OrderDetialsActivity" />
        <activity
            android:name=".ProductDetailsActivity"
            android:label=""
            android:theme="@style/Theme.FRIDAYECOM" />
        <activity android:name=".CategoryActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FRIDAYECOM" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>